@model Product

@{
  ViewBag.Title = "New product";
}

<h2>Add a new product</h2>

<form asp-action="Create" method="post" enctype="multipart/form-data">
  <div asp-validation-summary="All" class="mb-3 row"></div>

  <div class="mb-3 row">
    <label asp-for="ProductNumber" class="col-sm-2 col-form-label"></label>
    <div class="col-sm-5">
      <input asp-for="ProductNumber" class="form-control" />
    </div>
    <div class="form-text col-sm-5">
      <span asp-validation-for="ProductNumber" class="text-danger"></span>
    </div>
  </div>

  <div class="mb-3 row">
    <label asp-for="ProductName" class="col-sm-2 col-form-label"></label>
    <div class="col-sm-5">
      <input asp-for="ProductName" class="form-control" />
    </div>
    <div class="form-text col-sm-5">
      <span asp-validation-for="ProductName" class="text-danger"></span>
    </div>
  </div>

  <div class="mb-3 row">
    <label asp-for="UnitName" class="col-sm-2 col-form-label"></label>
    <div class="col-sm-5">
      <input asp-for="UnitName" class="form-control" />
    </div>
    <div class="form-text col-sm-5">
      <span asp-validation-for="UnitName" class="text-danger"></span>
    </div>
  </div>

  <div class="mb-3 row">
    <label asp-for="Price" class="col-sm-2 col-form-label"></label>
    <div class="col-sm-5">
      <input asp-for="Price" class="form-control" />
    </div>
    <div class="form-text col-sm-5">
      <span asp-validation-for="Price" class="text-danger"></span>
    </div>
  </div>

  <div class="mb-3 row">
    <label asp-for="IsService" class="col-sm-2 col-form-label"></label>
    <div class="col-sm-5">
      <input asp-for="IsService" class="form-check-input" />
    </div>
    <div class="form-text col-sm-5">
      <span asp-validation-for="IsService" class="text-danger"></span>
    </div>
  </div>

  <div class="mb-3 row">
    <label asp-for="Description" class="col-sm-2 col-form-label"></label>
    <div class="col-sm-5">
      <input asp-for="Description" class="form-control" />
    </div>
    <div class="form-text col-sm-5">
      <span asp-validation-for="Description" class="text-danger"></span>
    </div>
  </div>

  <div class="mb-3 row">
    <label asp-for="Photo" class="col-sm-2 col-form-label"></label>
    <div class="col-sm-5">
      <input type="file" name="photo" class="form-control" />
    </div>
    <div class="form-text col-sm-5">
      <span asp-validation-for="Photo" class="text-danger"></span>
    </div>
  </div>

  <div class="mb-3 row">
    <div class="col-sm-2"></div>
    <div class="col-sm-5">
      <button class="btn btn-primary" type="submit">Add</button>
      <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </div>
  </div>
</form>



@section scripts {  
  <partial name="IncludeValidation" />  
}