@model Artikl

@{
  ViewBag.Title = "Novi artikl";
}

<h2>Unos novog artikla</h2>

<form asp-action="Create" method="post" enctype="multipart/form-data">
  <div asp-validation-summary="All" class="mb-3 row"></div>

  <div class="mb-3 row">
    <label asp-for="SifArtikla" class="col-sm-2 col-form-label"></label>
    <div class="col-sm-5">
      <input asp-for="SifArtikla" class="form-control" />
    </div>
    <div class="form-text col-sm-5">
      <span asp-validation-for="SifArtikla" class="text-danger"></span>
    </div>
  </div>

  <div class="mb-3 row">
    <label asp-for="NazArtikla" class="col-sm-2 col-form-label"></label>
    <div class="col-sm-5">
      <input asp-for="NazArtikla" class="form-control" />
    </div>
    <div class="form-text col-sm-5">
      <span asp-validation-for="NazArtikla" class="text-danger"></span>
    </div>
  </div>

  <div class="mb-3 row">
    <label asp-for="JedMjere" class="col-sm-2 col-form-label"></label>
    <div class="col-sm-5">
      <input asp-for="JedMjere" class="form-control" />
    </div>
    <div class="form-text col-sm-5">
      <span asp-validation-for="JedMjere" class="text-danger"></span>
    </div>
  </div>

  <div class="mb-3 row">
    <label asp-for="CijArtikla" class="col-sm-2 col-form-label"></label>
    <div class="col-sm-5">
      <input asp-for="CijArtikla" class="form-control" />
    </div>
    <div class="form-text col-sm-5">
      <span asp-validation-for="CijArtikla" class="text-danger"></span>
    </div>
  </div>

  <div class="mb-3 row">
    <label asp-for="ZastUsluga" class="col-sm-2 col-form-label"></label>
    <div class="col-sm-5">
      <input asp-for="ZastUsluga" class="form-check-input" />
    </div>
    <div class="form-text col-sm-5">
      <span asp-validation-for="ZastUsluga" class="text-danger"></span>
    </div>
  </div>

  <div class="mb-3 row">
    <label asp-for="TekstArtikla" class="col-sm-2 col-form-label"></label>
    <div class="col-sm-5">
      <input asp-for="TekstArtikla" class="form-control" />
    </div>
    <div class="form-text col-sm-5">
      <span asp-validation-for="TekstArtikla" class="text-danger"></span>
    </div>
  </div>

  <div class="mb-3 row">
    <label asp-for="SlikaArtikla" class="col-sm-2 col-form-label"></label>
    <div class="col-sm-5">
      <input type="file" name="slika" class="form-control" />
    </div>
    <div class="form-text col-sm-5">
      <span asp-validation-for="SlikaArtikla" class="text-danger"></span>
    </div>
  </div>

  <div class="mb-3 row">
    <div class="col-sm-2"></div>
    <div class="col-sm-5">
      <button class="btn btn-primary" type="submit">Dodaj</button>
      <a asp-action="Index" class="btn btn-secondary">Odustani</a>
    </div>
  </div>
</form>



@section scripts {  
  <partial name="IncludeValidation" />  
}