@model Artikl

<tr hx-target="this" hx-swap="outerHTML">
    <td colspan="2">
        <span class="text-info">Obriši sliku ?</span> <input type="checkbox" name="obrisisliku" value="true" />
        <br/>
        <input type="file" name="slika" class="form-control" />
    </td>
    <td>
        <input type="hidden" asp-for="SifArtikla" />
        @Model.SifArtikla<br/>
        <input asp-for="NazArtikla" class="form-control"/>
    </td>
    <td>
        <br />
        <input asp-for="JedMjere" class="form-control"/>
    </td>
    <td>
        <br />
        <input asp-for="CijArtikla" class="form-control"/>
    </td>
    <td>
        <br />
        <input asp-for="ZastUsluga" class="checkbox"/>
    </td>
    <td>
        <br />
        <input asp-for="TekstArtikla" class="form-control"/>
    </td>   
    <td>
        <br />
        <button hx-include="closest tr"  
                hx-encoding="multipart/form-data"
                hx-post="@Url.Action(nameof(ArtiklController.Edit))"
                class="btn btn-sm btn-primary" title="Spremi">
          <i class="fas fa-save"></i>
        </button>
    </td>
    <td>
        <br />
        <button class="btn btn-sm cancel"               
                hx-get="@Url.Action(nameof(ArtiklController.Get), new { id = Model.SifArtikla })"
                title="Odustani">
          <i class="fas fa-undo-alt"></i>
        </button>
    </td>
  <td>
    <div asp-validation-summary="All"></div>
  </td>
</tr>