<div id="tempmessage" class="alert"></div>
@if (TempData[Constants.Message] != null)
{
  bool error = false;
  var obj = TempData[Constants.ErrorOccurred];
  if (obj != null)
  {
    error = (bool)obj;
  }
  <div class="alert @(error ? "alert-danger" : "alert-success")">@TempData[Constants.Message]</div>
}