@model DokumentViewModel
@{
  ViewBag.Title = "Unos novog dokumenta";
}

<h2>Unos novog dokumenta</h2>

<div class="container">
  <form asp-action="Create" method="post" id="dokument_form">
    <div asp-validation-summary="All" class="form-group row"></div>

    <div class="form-group row">
      <label asp-for="VrDokumenta" class="col-sm-2 col-form-label"></label>
      <div class="col-sm-1">
        <select class="form-control" asp-for="VrDokumenta">
          <option disabled selected value=""></option>
          <option value="R">R-1</option>
          <option value="O">O</option>
        </select>
      </div>
      <label asp-for="StopaPoreza" class="col-sm-1 col-form-label"></label>
      <div class="col-sm-1">
        <input asp-for="StopaPoreza" class="form-control" />
      </div>
      <label asp-for="DatDokumenta" class="col-sm-1 col-form-label"></label>
      <div class="col-sm-2">
        <input asp-for="DatDokumenta" class="form-control" />
      </div>
      <div class="col-sm-2">
        <button id="save" type="submit" class="btn btn-sm btn-primary save" title="Spremi"><i class="fas fa-save"></i></button>
        <a class="btn btn-sm btn-primary cancel" asp-action="Index" title="Odustani">
          <i class="fas fa-undo-alt"></i>
        </a>
      </div>
    </div>

    <div class="form-group row">
      <label asp-for="BrDokumenta" class="col-sm-1 col-form-label"></label>
      <div class="col-sm-2">
        <input asp-for="BrDokumenta" class="form-control" />
      </div>
      <label asp-for="IdPartnera" class="col-sm-1 col-form-label"></label>
      <div class="col-sm-1">
        <input asp-for="IdPartnera" readonly="readonly" class="form-control" data-autocomplete-placeholder="partner" />
      </div>
      <div class="col-sm-3">
        <input class="form-control" data-autocomplete="partner" asp-for="@Model.NazPartnera" />
      </div>
    </div>

    <div class="form-group row">
      <label asp-for="IdPrethDokumenta" class="col-sm-2 col-form-label"></label>
      <div class="col-sm-1">
        <input asp-for="IdPrethDokumenta" readonly="readonly" class="form-control" data-autocomplete-placeholder="dokument" />
      </div>
      <div class="col-sm-3">
        <input class="form-control" data-autocomplete="dokument" value="@Model.IdPrethDokumenta" />
      </div>
    </div>

    <div class="col-sm-10">
      <partial name="Stavke" model="Model.Stavke" />
    </div>
  </form>
</div>

<partial name="NovaStavkaTemplate" />

@section styles{
  <link rel="stylesheet" href="~/lib/jqueryui/themes/base/jquery-ui.css" />
}

@section scripts{
  <partial name="IncludeValidation" />
  <script src="~/lib/jqueryui/jquery-ui.js"></script>
  <script src="~/js/autocomplete.js" asp-append-version="true"></script>
  <script src="~/js/dokumenti.js" asp-append-version="true"></script>
}
