<table id="template" style="visibility:hidden">
    <tr>
        <td class="text-left col-sm-4">
            <input type="hidden" name="Stavke.Index" value="--sifra--" />
            <input type="hidden" name="Stavke[--sifra--].SifArtikla" value="--sifra--" />
            <input type="hidden" name="Stavke[--sifra--].NazArtikla" value="--naziv--" />
            --naziv--
        </td>
        <td class="text-center col-sm-1">
            <input name="Stavke[--sifra--].KolArtikla" class="form-control" value="--kolicina--" />
        </td>
        <td class="text-center col-sm-1">
            <input name="Stavke[--sifra--].PostoRabat" class="form-control" value="--rabat--" />
        </td>
        <td class="text-right col-sm-3">
            <input type="hidden" name="Stavke[--sifra--].JedCijArtikla" value="--cijena--" />
            --cijena_formatirana--
        </td>
        <td class="text-right col-sm-2">--iznos--</td>
        <td>
            <button class="btn btn-sm btn-danger deleterow" title="Izbaci"><i class="fas fa-minus"></i></button>
        </td>
    </tr>
</table>