@model CityViewModel


<tr hx-target="this" hx-swap="outerHTML">  
  <td class="text-start">    
    <input asp-for="PostalCode" class="form-control" />
  </td>
  <td class="text-start">
    <input asp-for="CityName" class="form-control" />
  </td>
  <td class="text-start">
    <input asp-for="PostalName" class="form-control" />
  </td>
  <td class="text-start">
    <select class="form-select" asp-for="CountryCode" asp-items="ViewBag.Countries">
    </select>
  </td>
  <td>
    <input type="hidden" asp-for="CityId" />
    <button hx-include="closest tr"
            hx-post="@Url.Action(nameof(CitiesController.Edit))"
            class="btn btn-sm btn-primary" title="Save"><i class="fas fa-save"></i></button>
  </td>
  <td>
    <button class="btn btn-sm cancel" 
            hx-get="@Url.Action(nameof(CitiesController.Get), new { id = Model.CityId })"
            title="Cancel"><i class="fas fa-undo-alt"></i></button>
  </td>
  <td>
    <div asp-validation-summary="All"></div>
  </td>
</tr>