@model DocumentFilter

<form id="filterform" asp-action="Filter" method="post">
    <div class="form-group row">
        <label asp-for="PartnerId" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-2">         
          <input asp-for="PartnerId" readonly="readonly" class="form-control" data-autocomplete-placeholder="partners" />
        </div>
        <div class="col-sm-6">
          <input class="form-control" data-autocomplete="partners" asp-for="PartnerName" />
        </div>               
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Amount</label>
        <div class="col-sm-4">
            <input asp-for="AmountFrom" class="form-control" />
        </div>
        <div class="col-sm-1">
            -
        </div>
        <div class="col-sm-4">
            <input asp-for="AmountTo" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Date</label>
        <div class="col-sm-4">
            <input asp-for="DateFrom" class="form-control" />
        </div>
        <div class="col-sm-1">
            -
        </div>
        <div class="col-sm-4">
            <input asp-for="DateTo" class="form-control" />
        </div>
        <div class="col-sm-1 text-nowrap">
            <button type="submit" class="btn btn-sm btn-primary" title="Set filter"><i class="fas fa-filter"></i></button>           
               
            <a class="btn btn-sm btn-primary" asp-action="Index" title="Remove filter">
                <i class="fas fa-trash"></i>
            </a>
        </div>
    </div>
</form>