@{
  ViewData["Title"] = "Reports";
}

<ul>
  <li>
    <a target="_blank" asp-action="Countries">Countries</a>
  </li>
  <li>
    <a target="_blank" asp-action="Products">10 most expensive products that have a photo</a>
  </li>
  <li>
    <a target="_blank" asp-action="Documents">10 biggest purchases</a>
  </li>
</ul>


<ul>
  <li>
    <a asp-action="CountriesExcel">Countries (Excel)</a>
  </li>
  <li>
    <a asp-action="DocumentsExcel">10 biggest purchases without details (Excel)</a>
  </li>
</ul>