@model MjestoViewModel

@{
  ViewBag.Title = "Novo mjesto";
}

<h2>Unos novog mjesta</h2>

<form asp-action="Create" method="post">
  <div asp-validation-summary="All"></div>
  <div class="mb-3">
    <label asp-for="PostBrojMjesta" class="form-label"></label>
    <input asp-for="PostBrojMjesta" class="form-control" />
    <div class="form-text"><span asp-validation-for="PostBrojMjesta" class="text-danger"></span></div>
  </div>
  <div class="mb-3">
    <label asp-for="NazivMjesta" class="form-label"></label>
    <input asp-for="NazivMjesta" class="form-control" />
    <div class="form-text"><span asp-validation-for="NazivMjesta" class="text-danger"></span></div>
  </div>
  <div class="mb-3">
    <label asp-for="PostNazivMjesta" class="form-label"></label>
    <input asp-for="PostNazivMjesta" class="form-control" />
    <div class="form-text"><span asp-validation-for="PostNazivMjesta" class="text-danger"></span></div>
  </div>
  <div class="mb-3">
    <label asp-for="OznDrzave" class="form-label"></label>
    <select class="form-control" asp-for="OznDrzave" asp-items="ViewBag.Drzave">
      <option disabled selected value="">Odaberite državu</option>
    </select>
    <div class="form-text"><span asp-validation-for="OznDrzave" class="text-danger"></span></div>
  </div>
  <div class="text-center">
    <button class="btn btn-primary" type="submit">Dodaj</button>
    <a asp-action="Index" class="btn btn-default">Odustani</a>
  </div>
</form>

@section scripts {
  <partial name="IncludeValidation" />
}