@model IEnumerable<Country>
@{
  ViewData["Title"] = "Countries list";
}
<h2>Countries list</h2>

<table class="table table-sm table-striped table-hover" id="table-countries">
  <thead>
    <tr>
      <th>Country Code</th>
      <th>Name</th>
      <th>Iso3</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var country in Model)
    {
      <tr>
        <td class="text-center">@country.CountryCode</td>
        <td class="text-left">@country.CountryName</td>
        <td class="text-center">@country.CountryIso3</td>
      </tr>
    }
  </tbody>
</table>

@section styles{
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css" />
}

@section scripts{
  <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>
  <script>
    $(document).ready(function () {
        $('#table-countries').DataTable();
    });
  </script>
}